/* footer.css */

/* Common styles */
html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-section {
  flex: 1 0 300px; /* Adjust width for small screens */
  max-width: 300px;
  margin-bottom: 20px; /* Add some spacing between sections */
}

h3 {
  border-bottom: 2px solid #c16767;
  color: #c16767;
}

form {
  margin-top: 20px;
}

.label {
  display: block;
  margin-bottom: 8px;
  color: #f0e5e5;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 8px;
}

a {
  color: #f0e5e5;
  text-decoration: none;
}

.footer-section a {
  color: #fff;
  text-decoration: none;
}

.footer-section a:hover,
a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #fff;
}
.copyright{
  color: rgb(13, 2, 2);
  font-family: sans-serif;
  font:bold;


}


.email-label,
.phone-label,
.query-label {
  display: block;
  margin-bottom: 8px;
  color: #f0e5e5;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
}

.input-group {
  flex: 1;
  margin-right: 8px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

.submit-button {
  background-color: brown;
  color: white;
  padding: 8px 16px;
  height: 50px;
  width: 130px;
  border: none;
  cursor: pointer;
}

.iframe-container {
  width: 100%;
  height: 200px;
}

.iframe-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.map-container {
  position: relative;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .footer-content {
    flex-direction: column; /* Stack sections vertically on small screens */
  }

  .footer-section {
    flex: 1 0 auto; /* Set sections to auto width */
    max-width: none; /* Remove max-width */
  }
}
